<!DOCTYPE html>
<html>
<body>
    <head>
        <title>Restos Near Me</title>
        <div align=center>
            <h1> Type Your Location</h1>
        <hr>
        </div>
    </head>
    <!-- Home Button -->
    <form action="{% url 'home' %}">
        <input type="submit" value="🏠"/>
    </form>

    <center>
        <form action="{% url 'home' %}">
            <input type="text" id="location" placeholder="Search location...">
            <p><input type="submit" value="Enter"></p>
        </form>
    </center>


</body>
</html>