{% load static %}
<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet" type="text/css">
<html>
<head>
    <title>Din Tai Fung | Mood for Food</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Din Tai Fung</h1>

    <div class="topnav">
        <!-- Back Button -->
        <form action="{% url 'bgc' %}">
            <input type="submit" value="⇦"/>
        </form>
    </div>

    <center>
        <div class="row">
            <div class="column">
                <img 
                src="https://media-cdn.tripadvisor.com/media/photo-s/0e/13/ad/ce/enlarge-to-read-the-text.jpg" 
                style=
                "display: block; 
                margin-left: auto; 
                margin-right: auto; 
                max-width: 500px;
                border: 4px solid white;
                border-radius: 20px;">
            </div>
            <div class="column">
                <p>
                    Address: L/G C1 Bonifacio High Street Central 7th Ave. corner 29th St., BGC, Taguig, Metro Manila <br>
                    Star Rating: 4.6 <br>
                    Cuisine Type: Taiwanese <br>
                    Store Hours: Daily, 10AM-8PM
                </p>
                <hr>
                <p>
                    A world renowned Taiwanese restaurant that specializes in soup dumplings and noodles. It has been awarded the Michelin star 5 times.
                </p>
                <hr>
                <p>
                    Contact Number: (02) 8809-1865 <br>
                    Instagram: <a href="https://www.instagram.com/dintaifungph" target="_blank">@dintaifungph</a>
                </p>
            </div>
        </div>
    </center>
</body>
</html>