{% load static %}
<!DOCTYPE html>
<link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css2?family=League+Spartan&display=swap" rel="stylesheet" type="text/css">
<html>
<head>
  <title>Take Quiz | Mood for Food</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <div align=center>
    <h1> Quiz </h1>
  </div>

  <div class="topnav">
    <form action="{% url 'home' %}">
      <input type="submit" value="🏠"/>
    </form>
  </div>

  <center>
    <div>
        <p> Type your answer to each question in the box so we can match your mood! </p>
        <p> Example: b f d a</p>
        <hr>
    </div>

    <div>
      <p> 1. How much is your budget? <br>
          a) Low <br>
          b) Mid <br>
          c) High <br>
      </p>
      <hr>
    </div>
    
    <div>
      <p> 2. What cuisine are you in the mood for? <br>
          a) American <br>
          b) Chinese <br>
          c) International <br>
          d) Japanese <br>
          e) Spanish <br>
          f) Taiwanese <br>
          g) European <br>
      </p>
      <hr>
    </div>

    <div>
      <p> 3. Any specific diet? <br>
          a) Vegetarian <br>
          b) Vegan <br>
          c) Pescetarian <br>
          d) None <br>
      </p>
      <hr>
    </div>

    <div>
      <p> 4. What kind of day is it for you? <br>
          a) Healthy Day <br>
          b) Cheat Day <br>
          c) Rainy Day <br>
          d) Hot Day <br>
      </p>
      <hr>
    </div>  


    <div class="topnav">
      <form name="ajaxSearchFrm" action="" method="GET">
          <input type="text" id="searchText" name="searchText" style="width:200px;">&nbsp;&nbsp;
          <input type="submit" value="Match My Mood" onClick="return EvaluateForm();" />
          <div id="formSuggestLayer"></div>
      </form>
    </div>
    

  </center>
</body>
<script>
  function EvaluateForm()
  {
      if( document.getElementById('searchText').value == 'a a d b' ){
          document.ajaxSearchFrm.action = "{% url 'result_mcdo' %}";
      }

      else if( document.getElementById('searchText').value == 'b e d b' ){
          document.ajaxSearchFrm.action = "{% url 'result_lapicara' %}";
      }

      else if( document.getElementById('searchText').value == 'c c d b' ){
          document.ajaxSearchFrm.action = "{% url 'result_thealley' %}";
      }

      else if( document.getElementById('searchText').value == 'b f d a' ){
          document.ajaxSearchFrm.action = "{% url 'result_dintaifung' %}";
      }

      else if( document.getElementById('searchText').value == 'b f b a' ){
          document.ajaxSearchFrm.action = "{% url 'result_dintaifung' %}";
      }

      else if( document.getElementById('searchText').value == 'b d d b' ){
          document.ajaxSearchFrm.action = "{% url 'result_mendokoro' %}";
      }

      else if( document.getElementById('searchText').value == 'b d d c' ){
          document.ajaxSearchFrm.action = "{% url 'result_mendokoro' %}";
      }

      else if( document.getElementById('searchText').value == 'b b d b' ){
          document.ajaxSearchFrm.action = "{% url 'result_wangfu' %}";
      }

      else if( document.getElementById('searchText').value == 'b a a b' ){
          document.ajaxSearchFrm.action = "{% url 'result_shakeshack' %}";
      }

      else if( document.getElementById('searchText').value == 'b a d c' ){
          document.ajaxSearchFrm.action = "{% url 'result_singleorigin' %}";
      }

      else if( document.getElementById('searchText').value == 'b a d d' ){
          document.ajaxSearchFrm.action = "{% url 'result_singleorigin' %}";
      }

      else if( document.getElementById('searchText').value == 'b g d c' ){
          document.ajaxSearchFrm.action = "{% url 'result_singleorigin' %}";
      }

      else if( document.getElementById('searchText').value == 'b g d d' ){
          document.ajaxSearchFrm.action = "{% url 'result_singleorigin' %}";
      }

      else if( document.getElementById('searchText').value == 'b a d b' ){
          document.ajaxSearchFrm.action = "{% url 'result_wolfgang' %}";
      }

      else if( document.getElementById('searchText').value == 'b c none c' ){
          document.ajaxSearchFrm.action = "{% url 'result_starbucks' %}";
      }

      else if( document.getElementById('searchText').value == 'b c none d' ){
          document.ajaxSearchFrm.action = "{% url 'result_starbucks' %}";
      }

      else{
        document.ajaxSearchFrm.action = "{% url 'result_nomatch' %}";
      }
      document.forms["ajaxSearchFrm"].submit();

      return false;
  }
  </script>
</html>